@font-face {
    font-family: "Big Noodles";
    src: url("../fonts/big_noodle_titling.ttf");
}
  
$red: rgb(255, 20, 20);
  
p {
    font-family: "Big Noodles";
}
  
body {
    background-image: url("../images/back.jpg");
}
  
h1 {
    font-family: "Big Noodles";
}
